*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.nebo
{
    width: 599px;
    height: 305px;
    background-color: #0000ff;
    
}
.ob1
{
    width: 100px;
    height: 100px;
    /* outline-offset: 1px; */
    background-color:rgba(255, 255, 255, 0.5);
    box-shadow: inset 2px 2px 2px 2px;
    border-radius: 2px;
}