@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

:root {
    --variable-yellow: #fcdb00;
    --variable-silver: #8b8a8b;
    --variable-black: #010101;
    --variable-white: #fcf8f8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    color: var(--variable-silver);
}

section {
    padding: 75px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
}

.slider,
.content,
.footer {
    min-height: 100%;
}

.header__menu a,
.header__social a {
    color: var(--variable-black);
    font-size: 24px;
}


.header {
    position: absolute;
    left: 0;
    right: 0;

}

.header .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header .container>div {
    width: 30%;
}

.header__social a {
    margin-left: 15px;
    font-size: 24px;
}

.header__logo {
    text-align: center;
}

.header__social {
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

h2, p
 {
    text-align: center;
 }

 

.slider {
    background-color: var(--variable-yellow);
    color: var(--variable-black);
}
.slider>.container
{
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.slider__item
{
    max-width: 740px;
    text-align: center;
    padding: 15px 0;
}
.pictures
{
    margin:40px 0 130px ;
}


.slider_navigation_items {
    
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color:var(--variable-white);
    margin:7px;
}
.slider_navigation
{
    display:flex;

    list-style: none;
    position: absolute;
    bottom:75px;
    
}
.content__container
{
    margin:82px 0 40px;
}

.content__container__footer
{
   display: flex;
       align-items: center;
   justify-content: space-between;
}


.footer {
    background-color: var(--variable-black);
}